@charset "UTF-8";
:root {
  --black-color: #000000;
  --bg-prime-color: #ffffff;
  --bg-second-color: #f5f4fa;
  --text-prime-color: #757575;
  --text-second-color: #212121;
  --text-accent-color: #2196f3;
  --botton-prime-color: #f5f4fa;
  --border-color: #eeeeee;
  --link-footer-color: rgba(255, 255, 255, 0.6);
  --hero-footer-color: #2f303a;
  --border-card-color: #eeeeee;
  --header-border-color: #ececec;
  --icon-soc-color: #afb1b8;
  --soc-footer-color: rgba(255, 255, 255, 0.1);
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  background-color: var(--bg-prime-color);
  color: var(--text-prime-color);
}

img {
  display: block;
  padding: 0;
  margin: 0;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

input {
  padding: 0;
}

.link {
  text-decoration: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-thin {
  padding-top: 94px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.title {
  color: var(--text-second-color);
}

.section__title--hidden, .accord__check {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: none;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo {
  display: block;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--text-accent-color);
}
.logo .logo__part--dark {
  color: var(--black-color);
}
.logo .logo__part--light {
  color: var(--bg-prime-color);
}

/* !=============== МОДАЛЬНОЕ ОКНО ========= */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(2.5) rotateX(-360deg);
          transform: translate(-50%, -50%) scale(2.5) rotateX(-360deg);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1) rotateX(0deg);
          transform: translate(-50%, -50%) scale(1) rotateX(0deg);
  width: 528px;
  height: 581px;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: var(--bg-prime-color);
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 8px;
  right: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--bg-prime-color);
  -webkit-transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close:hover, .modal__close:focus {
  outline-color: var(--text-accent-color);
}

.modal__icon {
  fill: var(--black-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close:hover .modal__icon, .modal__close:focus .modal__icon {
  fill: var(--text-accent-color);
}

.modal__title {
  display: block;
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--black-color);
}

.form__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
}

.form__label {
  width: 100%;
  margin-bottom: 4px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  color: var(--text-second-color);
  letter-spacing: 0.01em;
}

.form__input {
  width: 100%;
  height: 40px;
  padding: 0 20px 0 42px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.17;
  color: var(--text-second-color);
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input:focus {
  outline-color: var(--text-accent-color);
}

.form__icon-position {
  position: relative;
}

.form__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: var(--text-second-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input:focus + .form__icon {
  fill: var(--text-accent-color);
}

.form__comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

.form__input-comment {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.17;
  color: var(--text-second-color);
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input-comment::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__input-comment::-moz-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__input-comment:-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__input-comment::-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__input-comment::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__input-comment:focus {
  outline-color: var(--text-accent-color);
}

.accord {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.accord__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.accord__icon-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid var(--text-second-color);
  border-radius: 2px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.accord__check:checked + .accord__icon-box {
  background-color: var(--text-accent-color);
  border-color: var(--text-accent-color);
}
.accord__check:focus + .accord__icon-box {
  border-color: var(--text-accent-color);
}

.accord__icon {
  position: absolute;
}

.accord__link {
  margin-left: 5px;
  color: var(--text-accent-color);
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}

.form__btn {
  display: block;
  width: 200px;
  height: 50px;
  padding: 10px 30px;
  margin: 0 auto;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  color: var(--bg-prime-color);
  background-color: var(--text-accent-color);
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__btn:hover, .form__btn:focus {
  background-color: #188ce8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* ___СТИЛИЗАЦИЯ0 БЛОКА СОЦ-СЕТИ ___ */
.webpages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.webpages__item:not(:last-child) {
  margin-right: 10px;
}

.webpages__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.webpages__link:hover, .webpages__link:focus {
  background-color: var(--text-accent-color);
}

.webpages__icon {
  fill: var(--icon-soc-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.webpages__link:hover .webpages__icon, .webpages__link:focus .webpages__icon {
  fill: var(--bg-prime-color);
}

/* !========== HEADER======= */
/* === нижняя линия в HEADER ===  */
.header {
  border-bottom: 1px solid var(--header-border-color);
}

/* БЛОК НАВИГАЦИЯ И КОНТАКТЫ */
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* ----  СТИЛЬ ЛОГОТИПА --- */
.header__logo {
  padding-top: 24px;
  padding-bottom: 25px;
  -webkit-transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__logo:focus {
  outline-color: var(--text-accent-color);
}

/*  ? == ГЛАВНАЯ НАВИГАЦИЯ == */
.nav-box {
  padding-left: 93px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  display: block;
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-second-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link--current {
  color: var(--text-accent-color);
}
.site-nav__link--current:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--text-accent-color);
}
.site-nav__link:hover, .site-nav__link:focus {
  color: var(--text-accent-color);
  outline-color: var(--text-accent-color);
}

/* !--- КОНТАКТЫ HEADER   --- */
.contacts-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 305px;
}

.contacts-head__item:not(:last-child) {
  margin-right: 30px;
}

.contacts-head__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-prime-color);
  fill: currentColor;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-head__link:hover, .contacts-head__link:focus {
  color: var(--text-accent-color);
  fill: currentColor;
  outline-color: var(--text-accent-color);
}

.contacts-head__icon {
  margin-right: 10px;
}

.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-Img-opt.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-Img-opt.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--bg-prime-color);
}

.hero__btn {
  display: inline-block;
  padding: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 200px;
  height: 50px;
  font-family: inherit;
  /* НАСЛ-от BODY-  */
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  color: var(--bg-prime-color);
  background-color: var(--text-accent-color);
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__btn:hover, .hero__btn:focus, .hero__btn:active {
  background-color: #188ce8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.nuances-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nuances-list__item {
  width: 270px;
}
.nuances-list__item:not(:last-child) {
  margin-right: 30px;
}

.nuances-list__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.nuances-list__txt {
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.nuances-list__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--bg-second-color);
}

.production-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.production-list__item {
  position: relative;
}

.production-list__title {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 27px 82px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--bg-prime-color);
  background-color: rgba(47, 48, 58, 0.8);
}

/* !--- СЕКЦИЯ КОМАНДА --- */
.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--bg-second-color);
}

.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.team-list__item {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--bg-prime-color);
}

.member__data {
  padding: 30px 32px;
  text-align: center;
}

.member__descript {
  margin-bottom: 16px;
}

.member__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.member__txt {
  display: inline-block;
  font-size: 16px;
  line-height: 1.19px;
  text-align: center;
  letter-spacing: 0.03em;
}

.client-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.client-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.client-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 170px;
  height: 92px;
  padding: 16px 32px;
  border: 1px solid var(--icon-soc-color);
  border-radius: 4px;
  -webkit-transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-list__link:hover, .client-list__link:focus {
  outline-color: var(--text-accent-color);
}

.client-list__icon {
  fill: var(--icon-soc-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-list__link:hover .client-list__icon, .client-list__link:focus .client-list__icon {
  fill: var(--text-accent-color);
}

/* ! ===  FOOTER  === */
.footer {
  background-color: var(--hero-footer-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__contacts {
  margin-right: 70px;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer__logo {
  padding: 0;
  margin-bottom: 20px;
}

/* ============ FOOTER FIN ============== */
/* --- АДРЕСС ПРОСПЕКТТ --- */
.address-list__txt {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--bg-prime-color);
}

/* --- АДРЕСНЫЕ ССЫЛКИ В ФУТЕРЕ  --- */
.address-list__link {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--link-footer-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-list__link:hover, .address-list__link:focus {
  color: var(--text-accent-color);
}

.address-list__item {
  margin-top: 9px;
}

.join {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 93px;
}

.join__title {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 0.03em;
  color: var(--bg-prime-color);
  text-transform: uppercase;
}

.webpages__link--dark {
  background-color: var(--soc-footer-color);
}

.webpages__icon--dark {
  fill: var(--bg-prime-color);
}

.mailing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mailing__label {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--bg-prime-color);
  text-transform: uppercase;
}

.mailing__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mailing__input {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding-left: 16px;
  /* padding-right: 5px; */
  font-size: 16px;
  line-height: 1.25;
  color: var(--bg-prime-color);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}
.mailing__input::-webkit-input-placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--link-footer-color);
}
.mailing__input::-moz-placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--link-footer-color);
}
.mailing__input:-ms-input-placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--link-footer-color);
}
.mailing__input::-ms-input-placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--link-footer-color);
}
.mailing__input::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--link-footer-color);
}
.mailing__input:focus {
  border-color: var(--text-accent-color);
  outline: var(--text-accent-color);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.mailing__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 28px;
  font-family: inherit;
  /* НАСЛ-от BODY-  */
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  color: var(--bg-prime-color);
  background-color: var(--text-accent-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mailing__btn:hover, .mailing__btn:focus {
  background-color: #188ce8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.mailing__icon {
  margin-left: 10px;
  fill: var(--bg-prime-color);
}

.section__title--hidden {
  font-size: inherit;
  color: var(--text-accent-color);
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.filter__btn {
  padding: 6px 22px;
  border-radius: 4px;
  border: 0px solid transparent;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-second-color);
  background-color: var(--bg-second-color);
  cursor: pointer;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__btn:hover, .filter__btn:focus {
  color: var(--bg-prime-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: var(--text-accent-color);
}

.work-examples {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.work-examples__item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}
.work-examples__item:nth-child(3n) {
  margin-right: 0;
}
.work-examples__item:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.sample__link {
  display: inline-block;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sample__link:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.sample__pict-box {
  position: relative;
  overflow: hidden;
}

.sample__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sample__link:hover .sample__overlay, .sample__link:focus .sample__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.sample__specification {
  padding: 63px 24px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--bg-prime-color);
}

.sample__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.sample__description {
  padding: 20px 24px;
  border-bottom: 1px solid var(--border-card-color);
  border-left: 1px solid var(--border-card-color);
  border-right: 1px solid var(--border-card-color);
}

.sample__txt {
  display: block;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-prime-color);
}/*# sourceMappingURL=main.css.map */